* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@keyframes zoom {
    0% {
      opacity: 0;
      transform: scale(0.5);
      animation-timing-function: ease-in;
    }
    85% {
      opacity: 1;
      transform: scale(2.8);
      animation-timing-function: linear;
    }
    100% {
      opacity: 0;
      transform: scale(3.5);
    }
}

:root {
    --cor-um: #8E7AB5;
    --cor-dois: #B784B7;
    --cor-tres: #E493B3;
    --cor-quatro:#EEA5A6;
    --cor-destaque:#2e3a80;
}
body {
background: radial-gradient(
    200% 100% at bottom center,
    #8E7AB5,
    #B784B7,
    #E493B3,
    #EEA5A6
    );
    background-attachment: fixed;
    overflow: hidden;
}

.topo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.texto-topo{
    font-family:"Honk", system-ui;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style:normal;
    font-variation-settings:
        "MORF" 35,
        "SHLN" 27.4;
    font-size: 2.5rem;

}

.imagem-topo {
    margin-top: 0.62rem;
    width: 12.5rem;
    height: 15.6rem;
    border-radius: 1.5rem;
}

.caixatexto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.12rem;
}

textarea {
    padding:1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--cor-um);
    background-color: #fff;
    outline: none;
    opacity: 70%;
    height:20rem;
    width:33rem;
    font-size:1.25rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-dois);
}


.regra {
    color: var(--cor-destaque);
    font-weight: 500;
    font-size:1.25rem;
    line-height: 150%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regra img {
    width:3.12rem;
    margin-right: 0.62rem;
}

.botoes {
    margin-top: 0.62rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    border-radius: 8px;
    width:10rem;
    height: 2.5rem;
    border: 2px solid var(--cor-um);
    font-family: "Montserrat Alternates", sans-serif;
    background-color: var(--cor-quatro);
    color: var(--cor-destaque);
    z-index: 1;
}

button:hover {
    cursor: pointer;
    border-color:var(--cor-dois) ;
    background-color:var(--cor-tres);
}

.aviso-texto {
    opacity: 70%;
    border-radius: 15px;
    border: 2px solid var(--cor-um);
    background-color: #fff;
    height:23.75rem;
    width:33rem;
    color: var(--cor-tres);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    text-align: center;
    padding:1.25rem;
}

.aviso-imagem{

    margin-top: 0.62rem;
    width: 0.62rem;
    height: 0.62rem;
    border-radius: 1.5rem;
}


.aviso-texto img {
    width: 12.5rem;
    height: 12.5rem;
    
}


.h1-campo-vazio {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom:1rem;
    width: 100%;
    color:  var(--cor-dois);
    text-align: center;
    }

.p-campo-vazio {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: var(--cor-dois);
}

.aviso-resposta {
    margin: 3.12rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height:3.45rem;
    padding:1rem;
    opacity: 60%;
    margin-top: 3.12rem;
}

footer p {
    margin-bottom: 15px;
    margin-top: 0.62rem;
    font-size: 15px;
    color: var(--cor-destaque);
}

.footer-icons {
    margin: -0.62rem 10 10 0.62rem;
}

.imagem-icon {
    width:2.9rem;
}

.icon:hover {
    cursor: pointer;
    background-color: var(--cor-quatro);
}

/*aviso*/
.toast {
    background-color: var(--cor-tres);
    color: var(--cor-destaque);
    font-weight: 700;
    padding:1.25rem;
    border-radius: 8px;
    z-index: 1;
    display: none;
    position: fixed;
    top: 15rem;
    right: 23rem;
  }
  
  .toast.show {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
  }

  /*api*/

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@media screen and (max-width: 1800px) {
.topo {
    gap: 10px;
}

.imagem-topo {
    width: 7rem;
    height: 7rem;
}

.insercao-texto {
    margin-top: 4rem;
}

.caixatexto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 3rem;
    gap: 100px;
}

.aviso-texto {
    padding: 5px;
}

.aviso-texto img {
    width: 5rem;
    height: 5rem;
    border-radius: 25%;
}

footer {
    margin-top: 3.4rem;
}
}

.toast {
top: 12rem;
}

@media screen and (max-width: 1170px) {
.topo h1 {
    font-size: 2rem;
}
.imagem-topo {
    margin-top: 1rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 25px;
}
.caixatexto {
    flex-direction: column;
    gap: 1rem;
    margin-top: -40px;
}
.regra {
    font-size: 1rem;
}

textarea {
    height: 11rem;
    width: 30rem;
}

.regra {
    font-size: 0.7rem;
}

.botoes {
    margin-top: 0.4rem;
}

button {
    width: 8rem;
    height: 2rem;
}

.aviso-texto {
    height: 12rem;
    width: 30rem;
}

.aviso-texto img {
    width: 4rem;
    height: 4rem;
    margin: 0.3rem;
}

.h1-campo-vazio {
    font-size: 1.3rem;
}

footer {
    margin-top: 2rem;
}

.toast {
    top: 24rem;
    right: 26rem;
}
}
@media screen and (max-width: 860px) {
.topo h1 {
    font-size: 1.7rem;
    text-align: center;
}
footer {
    margin-top: 2.25rem;
}
}

@media screen and (max-width: 730px) {
footer {
    margin-top: 0.5rem;
}
}

@media screen and (max-width: 460px) {
.caixatexto {
    gap: 50px;
}

textarea {
    height: 10rem;
    width: 20rem;
}

.aviso-texto {
    height: 14rem;
    width: 20rem;
}

footer {
    width: 100%;
    margin-top: 15%;
}
}